artists:
  - id: 6957790
    subdir: "WsMan" # optional
  - id: 25891894
    ignored-tags:
      - かるたも

service:
  basedir: ./images
  proxy: http://localhost:7890 # optional
  interval: 3600 # seconds
  username: "your username"
  password: "your password"
  ignored-tags:
    - 抱き枕カバー

bot:
  token: "your bot token"
  chatid: "@akinapixiv"
