APScheduler
cachetools
certifi
charset-normalizer
cloudscraper
idna
pixiv-api
pyparsing
python-telegram-bot
pytz
pytz-deprecation-shim
PyYAML
requests
requests-toolbelt
six
tornado
tzdata
tzlocal
urllib3
