APScheduler==3.6.3
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cloudscraper==1.2.52
colorama==0.4.4
cryptography==3.3.1
decorator==4.4.2
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
nose==1.3.7
packaging==20.8
pixiv-api==0.3.6
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyparsing==2.4.7
python-telegram-bot==13.1
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
toml==0.10.2
tornado==6.1
tzlocal==2.1
urllib3==1.26.2
watchgod==0.7
wrapt==1.12.1
yapf==0.30.0
